<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
	<constraints>
		<constraint>
			<name>Concurrency</name>
			<class>org.ximtec.igesture.core.composite.ConcurrencyConstraint</class>
		</constraint>
		<constraint>
			<name>Sequence</name>
			<class>org.ximtec.igesture.core.composite.SequenceConstraint</class>
		</constraint>
		<constraint>
			<name>Interval</name>
			<class>org.ximtec.igesture.core.composite.IntervalConstraint</class>
		</constraint>
		<constraint>
			<name>CardinalityDevice</name>
			<class>org.ximtec.igesture.core.composite.CardinalityDeviceConstraint</class>
		</constraint>
		<constraint>
			<name>CardinalityUser</name>
			<class>org.ximtec.igesture.core.composite.CardinalityUserConstraint</class>
		</constraint>
		<constraint>
			<name>ProximityConcurrent</name>
			<class>org.ximtec.igesture.core.composite.ProximityConcurrencyConstraint</class>
		</constraint>
		<constraint>
			<name>ProximitySequence</name>
			<class>org.ximtec.igesture.core.composite.ProximitySequenceConstraint</class>
		</constraint>
	</constraints>
	<devices>
		<device>
			<name>SwingMouseReader</name>
			<class>org.ximtec.igesture.tool.service.SwingMouseReaderService</class>
			<type>2D</type>
			<!-- io.mouseclient.SwingMouseReader -->
		</device>
		<device>
			<name>WiiReader</name>
			<class>org.ximtec.igesture.io.wiimote.WiiReader</class>
			<type>3D</type>
		</device>
		<device>
			<name>TuioReader2D</name>
			<class>org.ximtec.igesture.io.tuio.TuioReader2D</class>
			<type>2D</type>
		</device>
		<device>
			<name>TuioReader3D</name>
			<class>org.ximtec.igesture.io.tuio.TuioReader3D</class>
			<type>3D</type>
		</device>
	</devices>
</configuration>

