<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>

	<!-- CONSTRAINTS that are allowed to be used in the tool -->
	
	<constraints>
		<constraint>
			<name>Concurrency</name>
			<class>org.ximtec.igesture.core.composite.ConcurrencyConstraint</class>
		</constraint>
		<constraint>
			<name>Sequence</name>
			<class>org.ximtec.igesture.core.composite.SequenceConstraint</class>
		</constraint>
		<constraint>
			<name>Interval</name>
			<class>org.ximtec.igesture.core.composite.IntervalConstraint</class>
		</constraint>
		<constraint>
			<name>CardinalityDevice</name>
			<class>org.ximtec.igesture.core.composite.CardinalityDeviceConstraint</class>
		</constraint>
		<constraint>
			<name>CardinalityUser</name>
			<class>org.ximtec.igesture.core.composite.CardinalityUserConstraint</class>
		</constraint>
		<constraint>
			<name>ProximityConcurrent</name>
			<class>org.ximtec.igesture.core.composite.ProximityConcurrencyConstraint</class>
		</constraint>
		<constraint>
			<name>ProximitySequence</name>
			<class>org.ximtec.igesture.core.composite.ProximitySequenceConstraint</class>
		</constraint>
	</constraints>
	
	<!-- CONNECTION TYPES that can be used in the tool to connect devices -->
	
	<connections>
		<connection>
			<name>Bluetooth</name>
			<discoveryService>org.ximtec.igesture.tool.view.devicemanager.discoveryservice.BluetoothDeviceDiscoveryService</discoveryService>
		</connection>
		<connection>
			<name>Tuio 2D</name>
			<discoveryService>org.ximtec.igesture.tool.view.devicemanager.discoveryservice.Tuio2DDeviceDiscoveryService</discoveryService>
		</connection>
		<connection>
			<name>Tuio 3D</name>
			<discoveryService>org.ximtec.igesture.tool.view.devicemanager.discoveryservice.Tuio3DDeviceDiscoveryService</discoveryService>
		</connection>
		<connection>
			<name>IP</name>
			<discoveryService>org.ximtec.igesture.tool.view.devicemanager.discoveryservice.Android3DDeviceDiscoveryService</discoveryService>
		</connection>
	</connections>
	
</configuration>

